@model UserLoginRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
        <main class="form-signin w-25">
            @if (TempData["MSG_S"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["MSG_S"]
                </div>
            }
            <form asp-action="Login" asp-controller="Home" method="post">
                <h1 class="h3 mb-3 fw-normal">Sign in</h1>

                <div class="form-floating">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Master password</label>
                </div>
                <br />
                @if (ViewBag.Errors != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Errors
                    </div>
                }
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>
    </div>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
